#s-7d065dfd-fc24-4dc3-8c67-60354f906654 #s-siguiente-btn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d065dfd-fc24-4dc3-8c67-60354f906654 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d065dfd-fc24-4dc3-8c67-60354f906654 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d065dfd-fc24-4dc3-8c67-60354f906654 #s-titulo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7d065dfd-fc24-4dc3-8c67-60354f906654 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}