#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-scrollbar-1 {
  rotation: 90.0;
  margin-left: 238px;
  margin-top: -239px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-drag-scrollbar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-siguiente-btn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}