#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_46 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_47 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-scrollbar-1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-scrollbar-1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-drag-scrollbar {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-siguiente-btn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 356px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c03e9273-5e16-4a16-ac2e-a55a6caa48ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}