#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-siguiente-btn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e02f2b8e-7c2c-498d-8f5e-7fb6bb0f2d61 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}